body {
  font-family: 'Gafata', sans-serif;
  font-size: 16px;
}

#header-nav {
  border-radius: 0;
  border: 0;
  background-color: #bfd7ea;
}
.navbar-brand {
  padding-top: 5px;
}
.navbar-brand h1 {
  margin-top: 0;
  color: #000000;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#header-nav .navbar-toggle:focus, #header-nav .navbar-toggle:hover {
  background-color: #839788;
}

#header-nav .icon-bar {
  background-color: #baa898;
}
#nav-list {
  background-color: #839788;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list li {
  border-bottom: solid 1px #baa898;
  text-align: center;
}
#nav-list a {
  color: #000000
}
#nav-list a:hover {
  background-color: #baa898;
}
#main-content > h1 {
  margin-top: 5px;
  font-family: 'Kanit', sans-serif;
  font-size: 2em;
}

section {
  background-color: #eee0cb;
}
section h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5em;
}

